.grid {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 400px;
  justify-content: center;
 position: relative;
  margin-left: 500px;
  align-items: center;
}
body {
  background-color: #5564eb;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  color: white;
}
h3 {
  font-family: "Courier New", Courier, monospace;
  color: white;
}
img {
  size: 99px 101px;
}
.main-title{
	margin-right: 40px;
	margin-top: 0px;
	display: flex;
	color: black;
	justify-content: center;
	position: relative;
}
.footer1{
  margin-top: 250px;
}
